.content {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  max-width: 1200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  .navBar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navButtonsWrapper {
      width: 30%;
      display: flex;
      justify-content: space-between;

      a {
        font-size: 20px;
        cursor: pointer;
        transition: all 0.1s ease;

        &:hover {
          color: var(--pink);
        }
      }
    }
  }
}

.hero {
  width: 100%;
  max-width: 1200px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .heroContent {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .heroText {
      width: 50%;

      h1 {
        font-size: 64px;
        font-weight: bold;
        margin-bottom: 25px;
      }

      p {
        font-size: 64px;
      }
    }

    .heroImg {
      width: 50%;
      padding-top: 150px;
      position: relative;

      .bgCircle {
        position: absolute;
        z-index: -1;
        left: -285px;
        top: 0;
        width: 570px;
        height: 570px;
        border-radius: 50%;
        background: linear-gradient(143.8deg, #fd3a69 13.85%, #9d0191 62.4%);
      }
    }
  }
}

.projectsBtn {
  margin-top: 50px;
  margin-bottom: 100px;
  font-size: 20px;
  font-weight: bold;
  color: var(--white);
  background-color: var(--violet);
  border: 0;
  border-radius: 20px;
  padding: 20px 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.1s ease;

  p {
    margin-left: 10px;
  }

  &:hover {
    background-color: var(--pink);
  }
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.aboutMe {
  width: 100%;
  height: 634px;
  background: url('/aboutme-bg.png') repeat;
  display: flex;
  flex-direction: column;
  align-items: center;

  .description {
    width: 100%;
    max-width: 1200px;
    margin-top: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;

    .descriptionText {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;

      .aboutMeTitle {
        font-size: 54px;
        font-weight: bold;
        margin-bottom: 50px;
      }

      p {
        font-size: 36px;
      }

      .likesButtonsContainer {
        width: 50%;
        display: flex;
        justify-content: space-between;
        margin-top: 40px;

        .likesBtn {
          box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  .avatarContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;

    .avatarImage {
      border-radius: 50%;
    }

    strong {
      font-weight: bold;
      margin-top: 30px;
    }
  }

  .cardsContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
}

.contact {
  margin-top: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  h2 {
    font-size: 54px;
    font-weight: bold;
    margin-bottom: 80px;
  }

  .contactSocialLinks {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 80px;

    .socialLinks {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--violet);
      font-size: 24px;
      font-weight: bold;
      margin: 0 25px;
      transition: all 0.2s ease;

      .socialIcons {
        margin: 0 20px;
        transition: all 0.2s ease;
      }

      &:hover {
        color: var(--pink);

        .socialIcons {
          color: var(--pink) !important;
        }
      }
    }
  }

  .bgCircleSmall {
    position: absolute;
    z-index: -1;
    top: 300px;
    right: 22%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(143.8deg, #fd3a69 13.85%, #9d0191 62.4%);
  }
}

.footer {
  margin-top: 150px;
  width: 100%;
  height: 350px;
  background-color: var(--violet);
}


